.register{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 20px;

}
.reg_form{
	display: flex;
	flex-direction: column;
	background-color: #F5F5F5;
	border:1px solid #616161;
	height: 700px;
	width: 800px;
	text-align: left;
	margin: 20px;

}
.reg_heading{
	margin: 30px;
	text-align: center;
}
.reg_heading h1{
	margin: 10px;
}

.reg_input{
	
	margin: 10px 20px 10px 100px;
}
.reg_form form h4{
	margin:0px 20px 5px 0px;
}
.reg_form form input{
	height: 20px;
	margin-bottom: 20px;
	background-color: white;
	width: 50%;
}
.reg_form form button{
	margin-left: 370px;
}
textarea{
	
	border: 2px solid black;
	
}
.reg_input  span{
	color: red;
}